<div>
    <h2 class="row justify-content-center">Welcome to home page</h2><br>
    <h3 class="row justify-content-center">Hello user..</h3><br>
    <form action="/logout" method="get">
        <a class="row justify-content-center"><button type="submit" class="btn btn-danger text-decoration-none">Logout</button></a>
    </form>
</div>